set timeout=10
set default=0
terminal_input console
terminal_output console
insmod linux

menuentry "Black Fox" {
    linux  /boot/blackfox console=ttyS0 console=tty0 quiet
    initrd /boot/blackfox.img
}

if [ "${grub_platform}" == "efi" ]; then
    menuentry "UEFI Shell" {
        insmod fat
        insmod chain
        search --no-floppy --set=root --file /shellx64.efi
        chainloader /shellx64.efi
    }

    menuentry "Memtest86+" {
        search --no-floppy --file --set=root /boot/memtest.efi
        chainloader /boot/memtest.efi
    }

    menuentry "UEFI Firmware Settings" --class efi {
        fwsetup
    }
else
    menuentry "Memtest86+" {
        linux /boot/memtest keyboard=both
        boot
    }
fi

menuentry "Shutdown Computer" {
	echo "Computer shutting down...."
	halt
}

menuentry "Reboot Computer" {
	echo "Computer rebooting...."
	reboot
}