set timeout=5
set default=0
terminal_input console
terminal_output console

menuentry "Black Fox" {
    linux  /boot/blackfox console=ttyS0 console=tty0 quiet
    initrd /boot/blackfox.img
}

menuentry "Black Fox [Troubleshooting]" {
    linux  /boot/blackfox console=ttyS0 console=tty0 debug
    initrd /boot/blackfox.img
}

if [ "${grub_platform}" == "efi" ]; then
    menuentry "Black Fox Memtest UEFI" {
            chainloader /boot/memtest.efi
        boot
    }
    menuentry "UEFI Firmware Settings" --class efi {
        fwsetup
    }
else
    menuentry "Black Fox Memtest BIOS" {
        multiboot2 /boot/memtest
        boot
    }
fi

menuentry "Shutdown Computer" {
	echo "Computer shutting down...."
	halt
}

menuentry "Reboot Computer" {
	echo "Computer rebooting...."
	reboot
}