set timeout=5
set default=0

menuentry "Black Fox Recovery" {
    linux  /boot/blackfox root=/dev/ram0 rootfstype=squashfs ramdisk_size=262144 console=ttyS0 console=tty0
    initrd /boot/blackfox.sfs
}

if [ ${grub_platform} == "efi" ]; then
    menuentry "UEFI Firmware Settings" {
        fwsetup
    }
fi